/* General Styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #000000;
}

h2 {
    font-family: 'Sedgwick Ave', cursive;
    font-size: 50px;
    text-align: center;
    border-top: 2px solid rgba(229, 107, 111, 0.2);
    padding-top: 50px;
    margin: 70px 0 80px 0;
    font-weight: bold;
}


/* Logo and Navbar Styles */
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.initials {
    display: inline-block;
    font-size: 45px;
    margin: 0;
    font-weight: bold;
}

.initials a {
    border: 7px solid black;
    padding: 5px;
}

.initials a:hover {
    color: #355070;
    border: 7px solid #355070;
    transition-duration: 0.4s;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 18px 0;
}

.nav-links {
    margin: 0 50px;
    font-size: 20px;
}

.initials a, .nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    border-bottom: 2px solid black;
}

.about-link a:hover {
    color: #6d597a;
    border-bottom: 2px solid #6d597a;
}

.projects-link a:hover {
    color: #b56576;
    border-bottom: 2px solid #b56576;
}

.resources-link a:hover {
    color: #e56b6f;
    border-bottom: 2px solid #e56b6f;
}


/* Opening Statement Styles */
.greeting-line {
    font-size: 40px;
    text-align: center;
    margin: 25px 0 30px 0;
    line-height: 2;
}

.intro-header {
    font-family: 'Sedgwick Ave', cursive;
    font-size: 60px;
    padding-top: 0;
    border: none;
    margin: 40px 0 10px 0;
}

.job-title {
    color: #b56576;
}


/* Opening Image Styles */
.img-container {
    width: 700px;
    margin: 0 auto;
    border-top: 5px solid #6d597a;
}

.img-container img {
    object-fit: cover;
    width: 100%;
    border-bottom: 5px solid #6d597a;
}


/* What I can do Styles */
#can-do-heading {
    margin-bottom: 65px;
}

.can-do {
    width: 1000px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}

.icon-container, .blurb {
    width: 500px;
}

.blurb {
    padding: 0 40px;
}

.blurb h3 {
    font-size: 35px;
}

.pen, .laptop {
    font-size: 90px;
    color: #355070;
    border: 7px solid #eaac8b;
    padding: 15px;
}


/* Work Together Styles */
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    background-color: white;
    border: 2px solid #e56b6f;
    padding: 5px;
}

.button {
    text-decoration: none;
    color: #e56b6f;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.button:hover {
    background-color: #e56b6f;
    transition-duration: 0.4s;
    color: white;
    text-decoration: none;
}

.paper-plane {
    width: 150px;
}


/* Footer Styles */
.socials {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.social-icons {
    font-size: 50px;
    color: #000000;
    margin: 0 30px;
}

.social-icons:hover {
    color: #6d597a; 
}

.copyright {
    text-align: center;
}


/*************** ABOUT PAGE STYLES ***************/

/* About Intro Styles */
.about-flex {
    margin-top: 60px;
}

.intro-image, .intro-blurb {
    width: 500px;
}

.intro-image img {
    object-fit: cover;
    width: 90%;
    border-top: 5px solid #6d597a;
    border-bottom: 5px solid #6d597a;  
}

.intro-blurb {
    padding-right: 25px;
}

.about-header {
    margin: 0 0 25px 0;
}

.intro-blurb p {
    line-height: 1.5;
}

/* About Image Grid Styles */
.image-grid {
    width: 70%;
    margin-top: 100px;
}

.image-grid img {
    padding: 10px;
}


/*************** PROJECTS PAGE STYLES ***************/

/* Title and Heading Styles */
.project-page-heading {
    margin-bottom: 80px;
}

h4 {
    font-weight: bold;
}

h4 a {
    text-decoration: none;
    color: #000000;
}

h4 a:hover {
    color: #e56b6f;
    transition-duration: 0.3s; 
}

/* Projects Styles */
.project-screenshots {
    width: 600px;
    border-top: 5px solid #355070;
    margin-bottom: 150px;
}

.project-screenshots img {
    object-fit: cover;
    width: 100%;
    border-bottom: 5px solid #355070;
    margin-bottom: 25px;
}

.skills {
    color: #6d597a;
    font-weight: bold;
}